service-account.json
firebase-credentials.json
/laradockconfig
/laradock-for-geniality
/node_modules
/public/hot
/public/storage
/public/mundovirtual
/public/qr/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env_evius
cache
/laradock
/public/assets/images
/public/vendor
/.phpstorm.meta.php
installed
/.settings/
/.project
/.buildpath
/composer.phar
_ide_helper.php
*.swp
*.save
_docs/build
public/assets/*
public/vendor/*
resources/docs/source/_tmp/*
.phpunit*
composer.lock
/firebase-credentials-dev.json
